*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#error{
    color: red;
    font-size: 0.9 rem;
    text-transform: uppercase;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(46,150,163), rgb(48, 62,143));
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}
.location,
.temperature{
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.temperature{
    flex-direction: column;
}
.degree-section{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.degree-section span{
    margin: 10px;
    font-size: 30px;
}
.degree-section h2{
    font-size: 40px;
}
footer{
    text-align: center;
    background:rgb(10, 117, 218);
    width: 100%;
    height: 50px;
    margin-top: 150px;
    padding: 10px;
}